<!DOCTYPE html>
<html>
  <head>
    <title>TwitterSuperClient</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'bootstrap' %>
  </head>

  <body>
    <%= react_component("ReactHeader") if user_signed_in? %>
    <% if notice %>
      <p class="alert alert-secondary m-3"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger m-3"><%= alert %></p>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
